:root {
    --primery-color :#161616;
    --secondery-color :#0397CF;
}
body{
    height: 100%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    background-color: black;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}

/* working in header */


 .header
{
    display: flex;
    background-color: #1A1E1F;
    justify-content: center;
}
.container {
    display: flex;
    width: 50%;
}
.header_main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo_wrapper {
    padding-top: 2%;
}
.nav-bar{
    flex-direction: column;
    margin-top: 3px;
}
 .nav-bar ul {
    display: flex;
    list-style: none;
    padding: 0;
}
.nav-bar p {
    text-align: right;
    line-height: 26px;
    font-size: 15px;
    padding: 0 10px;
    color: rgb(244,244,244);   
    transition: color 0.3s ease;
}
li{
    padding: 0 15px;
}
.nav-bar p:hover {
    color: #0B79A3;
}
/* main section  */


 .main 
{
    width: 100%;
    height: auto;
}

/*  img section styling */


.image_wraper
{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.image_wraper .img  {
    background-image: url('./assets/dasd.png');
    background-size: cover;
    color: #fff;
    text-align: center;
    height: 352px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inside_text_wrapper
  {
    display: flex;
    flex-direction: column;
    align-items: start;
  }


  /* info section styling */


.info_wrapper
{
    width: 100%;
    background-color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    color: white;
    padding: 7% 0;
}
.info a {
    margin-top: 4%;
    color: var(--secondery-color);
    transition: color 0.5s ease;
}
.info a:hover 
{
    color: rgb(188, 190, 168);
}

/* section cards styling */






/* 
.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner-image {
    background-image: url('./assets/dasd.png');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 50px;
    height: 400px;
    box-sizing: border-box;
}

.banner-image h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.banner-image p {
    font-size: 1.2em;
}
.contaier {
    display: flex;
    justify-content: center;
    align-items: start;
} */
