:root {
    --primery-color :#161616;
    --secondery-color :#0397CF;
}
body{
    height: 100%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    background-color: black;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}

/* working in header */


 .header
{
    display: flex;
    width: 100%;
    background-color: #1A1E1F;
}
.container {
    max-width: 60%;
    display: flex;
    border: 1px solid red;
}
.logo_wrapper {
    padding-top: 2%;
}
.nav-bar{
    flex-direction: column;
    margin-top: 3px;
}
 .nav-bar ul {
    display: flex;
    flex-wrap: wrap;  
     justify-content: flex-end;  
    list-style: none;
    padding: 0;
}
.nav-bar p {
    text-align: right;
    line-height: 26px;
    font-size: 15px;
    padding: 0 10px;
    color: rgb(244,244,244);   
    transition: color 0.3s ease;

}
li{
    padding: 0 15px;
}
.nav-bar p:hover {
    color: #0B79A3;
}
/* main section  */
 .main 
{
    width: 100%;
}
.image_info
{
    height: auto;
}
.image_info .img  {
    background-image: url("/assets/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.webp");
    background-size: cover;
    background-position: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: 600px;
  }
  .inside_text_wrapper
  {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .text1 {
    background: transparent;
    color: #fff; 
    font-size: 20px; 
    text-align: center;
  }
  .text2 {
    background: transparent;
    color: #fff; 
    font-size: 20px; 
    text-align: center;
  }
.info {
    background-color: #2B2B2B;
    padding: 2% 24%;
}
.info p {
    line-height: 1.6em;
    letter-spacing: normal;
    font-size:1.6rem ;
}
.info a {
    font-size: 1.6rem; 
} 








/* 
.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner-image {
    background-image: url('./assets/dasd.png');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 50px;
    height: 400px;
    box-sizing: border-box;
}

.banner-image h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.banner-image p {
    font-size: 1.2em;
}
.contaier {
    display: flex;
    justify-content: center;
    align-items: start;
} */
