:root {
    --primery-color :#161616;
    --secondary-color: #2B2B2B;
    --links-color :#0397CF;
}
body{
    height: 100%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    background-color: black;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
/* working in header */


.header
{
    display: flex;
    justify-content: center;
    background-color: #1A1E1F;
}
.logo_wrapper {
    padding-top: 2%;
}
.nav__bar{
    margin-top: 3px;
}
 .nav__bar ul {
    display: flex;
    list-style: none;
}
.nav__bar p {
    text-align: right;
    line-height: 26px;
    font-size: 15px;
    padding: 0 10px;
    color: rgb(244,244,244);   
    transition: color 0.3s ease;
}
.nav__bar .active p {
    color: var(--links-color);
}
.nav__bar li{
    padding: 0 15px;
}
.nav__bar p:hover {
    color: #0B79A3;
}


/*  img section styling */

.img  {
    background-image: url('./assets/dasd.png');
    background-size: cover;
    color: #fff;
    height: 352px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.inside_text_wrapper
    {
        display: flex;
        flex-direction: column;
        align-items: start; 
    }
.text1
    {
        color: white;
        font-size: 3rem;
        margin-bottom: -10px;
    }
.text2
{
    color: white;
    font-size: 34px;
}
  /* info section styling */


.info_wrapper
{
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
}
.info {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    color: white;
    padding: 3% 0;
}
.info a {
    margin-top: 2%;
    color: var(--links-color);
    transition: color 0.5s ease;
}
.info a:hover 
{
    color: rgb(188, 190, 168);
}

/* section cards styling */
.cards {
    display: flex;
    justify-content: center;
    background-color: var(--primery-color);
    margin-bottom: 2;
}
.card_title_wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 5.5%;
    margin-bottom: 3%;
}
.title_wrapper
{
    margin-bottom: 7%;
}
.card_title_wrapper p {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 6%;
}
.cards_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.card
{
    border: 1px solid #555555;
    margin-bottom: 20px;
    border-radius: 8px;


}
.card-content
{
    padding-left: 6%;
}
.card_info
{
    margin-bottom: 25%;
}
.card_info h5 {
    color: white;
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 17px;
}
.card_info p{
    font-size: 14px;
    color: white;
}

.course_det p {
    margin-right: 10px;
}

.course_det {
    display: flex;
    margin-bottom: 7%;
    font-size: 18px;
    transition: color 0.2s ease;
    color: var(--links-color);
}
.card__link p
{
    font-size: 20px;
    color: var(--links-color);
}
.card__link p:hover{
    color: #057199;
}
/*  carousel styliing */


.slider
{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}
.slider_wraper {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
.contant_name
{
    width: 100%;
}
.slider__title 
{
    font-size: 1.5rem;
    color: white;
}
.logos__wrapper
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;

}
.slider__logos

{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.all__logo__wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slide3
{
    display: flex;
    justify-content: center;

}
.slide1
{
    display: flex;
    justify-content: space-between;

} 
.slide2
{
    display: flex;
    justify-content: space-between;
    display: none;
}

.slide3
{
    display: none;
}

.prev__btn {
 background-color: var(--secondary-color);
 width: 18px;
 border: none;
 color: white;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 transform: scaleX(-1);
}
.next__btn
{
    background-color: var(--secondary-color);
    width: 18px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
path {
    fill: #ffffff;
}
.slider__nav {
    display: flex;
    justify-content: center;
}
.slider__btn__ol
{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.slider__btn__ol li 
{
    margin-right: 12px;
}
.slider__btn__ol a
{
    height: 7px;
    width: 7px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}


/* 
.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner-image {
    background-image: url('./assets/dasd.png');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 50px;
    height: 400px;
    box-sizing: border-box;
}

.banner-image h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.banner-image p {
    font-size: 1.2em;
}
.contaier {
    display: flex;
    justify-content: center;
    align-items: start;
} */
